<div class="px-2">
    {% if page.layout == 'notebook' %}
    <a href="https://github.com/{{site.github_username}}/markd87.github.io/tree/gh-pages/{{page.nb_path}}"
        role="button">
        {% elsif page.layout == 'post' %}
        <a href="https://github.com/{{site.github_username}}/tree/master/{{page.path}}" role="button">
            {% endif -%}
            <img class="notebook-badge-image" src="{{ "assets/badges/github.svg" | relative_url }}"
                alt="View On GitHub">
        </a>
</div>